/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store

.idea/
_ide_helper.php
/public/css/
/public/js/
/public/img/
/public/images/
/public/fonts/
/public/tutors/
/public/css/tutor.css
/public/css/admin.css
/public/css/app.css
/public/mix-manifest.json
yarn.lock
/public/*/*.js
/public/*/*.css
public/phpmyadmin/
/public/admin/
/public/store/
delivery-firebase-20200817.json
/public/vendors~js/vuejs/shipper/monthly_report.js

